spring:
  application:
    name: order-service
  cloud:
    config:
      override-none: true    
  rabbitmq:
    host: 192.168.225.132
    port: 5672
    username: admin
    password: admin
 
#server:
#  port: 8201

eureka:
  client:
    service-url:
      defaultZone: http://localhost:2001/eureka,http://localhost:2002/eureka

feign:
  hystrix:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: refresh
---
spring:
  profiles: order1
  
server:
  port: 8201 

---
spring:
  profiles: order2
  
server:
  port: 8202 